<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Job Web Scraping</h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <app-toggle-status-job></app-toggle-status-job>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Descrição: job responsável pela atualização de preço dos produtos</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">

      <h2>Gerenciar Dados</h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <button class="btn btn-md btn-primary spacing-btn"><i class="bi bi-bag"></i> Produtos</button>
      <button class="btn btn-md btn-primary spacing-btn"><i class="bi bi-shop"></i> Mercados</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">
      <h2>Visualizar Logs</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-md btn-primary spacing-btn"><i class="bi bi-card-text"></i> Ver Logs</button>
    </div>
  </div>
</div>
