<div class="container">

  <mat-card class="example-card">
    <h2>Job Web Scraping</h2>
    <mat-card-content>
      <app-toggle-status-job></app-toggle-status-job>
      <div class="col-12 information-label">
        <label><i class="bi bi-info-circle"></i> status referente ao job que realiza atualização de preço dos produtos</label>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card mt-4">
    <h2>Gerenciar Dados</h2>
    <mat-card-content>
      <button class="btn btn-md btn-success spacing-btn btn-menu" (click)="redirecionarParaProduto()"><i class="bi bi-basket3-fill"></i> Produtos</button>
      <button class="btn btn-md btn-success spacing-btn btn-menu" (click)="redirecionarParaMercado()"><i class="bi bi-briefcase-fill"></i> Mercados</button>
      <button class="btn btn-md btn-success spacing-btn btn-menu" (click)="redirecionarParaProdutoMercado()"><i class="bi bi-cart-fill"></i> Produto Mercado</button>
      <button class="btn btn-md btn-success spacing-btn btn-menu" (click)="redirecionarParaLogs()"><i class="bi bi-file-text-fill"></i> Logs</button>
    </mat-card-content>
  </mat-card>
</div>
