
<div class="container">
  <div class="row">
    <div class="col-12">
    </div>
  </div>

  <mat-card class="example-card">
    <h1>Produto Mercados</h1>
    <mat-card-content>
      <div class="row mb-2">
        <div class="col-6">
          <div class="">
            <button class="btn btn-sm btn-secondary" (click)="openDialog()">Cadastrar Produto Mercado</button>

            <!-- <app-modal-cadastrar-produto-mercado (onFecharModal)="recuperarProdutoMercados()"></app-modal-cadastrar-produto-mercado> -->
          </div>
        </div>
          <div class="col-6">
            <div class="text-end">
              <app-consulta-produto-mercado (onEnviarProdutosMercadosResponse)="atualizarProdutoMercadosResponse($event)" (onPesquisarTodos)="recuperarProdutoMercados()" (onTextoFiltro)="atualizarTextoFiltro($event)"></app-consulta-produto-mercado>
            </div>
          </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card mt-4">
    <mat-card-content>
      <div class="row">
        <div class="col-12 mb-3">
          <h2>Produtos Mercados Cadastrados</h2>
        </div>
      </div>

      <ngx-datatable [rows]="produtosMercados" [columns]="columns" class="material" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
      [headerHeight]="45"
      [footerHeight]="50"
      [limit]="5"
      rowHeight="auto"
      [reorderable]="reorderable"> </ngx-datatable>

      <ng-template #imgTemplate let-row="row" let-value="value" let-i="index">
        <img [src]="value" alt="" class="img-produto-table">
      </ng-template>

      <ng-template #dropMenu let-row="row" let-value="value" let-i="index">
        <div class="text-end">
          <i class="bi bi-three-dots-vertical icon-menu" [matMenuTriggerFor]="menu"></i>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="abrirDialogEdit(row)">
            <mat-icon><i class="bi bi-pencil-fill"></i> Editar</mat-icon>
          </button>
          <button mat-menu-item class="text-danger" (click)="abrirDialogConfirm(row)">
            <mat-icon><i class="bi bi-trash3-fill"></i> Excluir</mat-icon>
          </button>
        </mat-menu>
      </ng-template>



      <div class="row mt-5" *ngIf="existeMercado">
        <div class="col-12 text-center">
          <h1 for="informacao">"{{nomeMercadoFiltro}}" não encontrado :/</h1>
          <img src="https://7classe.com/assets/media/img/no-course.gif" alt="" class="img-not-search">
        </div>
      </div>
    </mat-card-content>
  </mat-card>



