<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Carregando </p></ngx-spinner>

<nav class="navbar mb-5 navbar-site">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="bi bi-box-fill"></i> Portal Web Scraping</a>
    <div class="text-end mt-1">
      <a class="user-icon" href="#"><i class="bi bi-person-circle"></i></a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
