.navbar-site {
  background-color: rgb(47, 172, 113);
}

.navbar-brand {
  color: white;
}

.user-icon {
  font-size: 27px;
  color: white;
  margin-top: 5px;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.menu-sidemenu {
  color: rgb(169, 255, 205);
  font-size: 17px;
}

.menu-sidemenu:hover {
  color: rgb(255, 255, 255);
}

.margin-icon {
  margin-right: 10px;
}

.titulo-menu {
  font-size: 25px;
  font-weight: 500;
}
