
<div class="container">
  <div class="row">
    <div class="col-12">
    </div>
  </div>

  <mat-card class="example-card">
    <h1>Mercados</h1>
    <mat-card-content>
      <div class="row mb-2">
        <div class="col-6">
          <div class="">
            <app-modal-cadastrar-mercado (onFecharModal)="recuperarMercados()"></app-modal-cadastrar-mercado>
          </div>
        </div>
          <div class="col-6">
            <div class="text-end">
              <app-consulta-mercado (onEnviarMercadosResponse)="atualizarMercadosResponse($event)" (onPesquisarTodos)="recuperarMercados()" (onTextoFiltro)="atualizarTextoFiltro($event)"></app-consulta-mercado>
            </div>
          </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card mt-4">
    <mat-card-content>
      <div class="row">
        <div class="col-12 mb-3">
          <h2>Mercados Cadastrados</h2>
        </div>
      </div>

      <div class="row mb-3" *ngIf="exibirTextoFiltro">
        <div class="col-12">
          <label class="label-filtro">Filtro: </label>
          <span class="badge rounded-pill bg-primary spacin-button badge-font" (click)="removerFiltro()">{{nomeMercadoFiltro}} <i class="bi bi-x-circle-fill"></i></span>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-12 card card-mercado" *ngFor="let mercado of mercados">
          <div class="mb-2">
            <img [src]="mercado.LinkImage" alt="" class="image-mercado img-fluid"> <br>
            <label class="mb-1 mt-2">{{mercado.Nome}}</label> <br>

          </div>
          <div class="col-12 ">
            <div class="d-flex">
              <app-modal-editar-mercado [mercadoResponse]="mercado" (onFecharModal)="recuperarMercados()" matTooltip="Editar"></app-modal-editar-mercado>
              <button class="btn btn-sm btn-danger spacin-button" (click)="excluirMercado(mercado)" matTooltip="Excluir"><i class="bi bi-trash3-fill"></i></button>
              <button class="btn btn-sm btn-primary spacin-button" (click)="copyText(mercado._id)"  matTooltip="Copiar ID"
              aria-label="Button that shows a red tooltip">ID</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="existeMercado">
        <div class="col-12">
          <h1 for="informacao"><i class="bi bi-shop"></i> Nenhum mercado encontrado :/</h1>
        </div>
      </div>
    </mat-card-content>
  </mat-card>



