<h2 mat-dialog-title>Cadastrar Mercado</h2>
<mat-dialog-content class="mat-typography">
<form [formGroup]="formulario">
  <div class="produto-mercado-form">
    <mat-form-field class="example-full-width" appearance="legacy">
      <mat-label>Nome</mat-label>
      <input type="text" matInput placeholder="Ex. Perim" id="input-nome-produto" formControlName="Nome" autocomplete="off">
    </mat-form-field>
  </div>

  <div class="produto-mercado-form">
    <mat-form-field class="example-full-width" appearance="legacy">
      <mat-label>URL Imagem</mat-label>
      <textarea matInput matInput placeholder="Ex. http..." id="input-link-image" formControlName="LinkImage" autocomplete="off"></textarea>
    </mat-form-field>
  </div>

  <div class="produto-mercado-form">
    <mat-form-field class="example-full-width" appearance="legacy">
      <mat-label>URL Site</mat-label>
      <textarea matInput matInput placeholder="Ex. http..." id="input-link-image" formControlName="UrlSite" autocomplete="off"></textarea>
    </mat-form-field>
  </div>

</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Cancelar</button>
  <button mat-button (click)="salvarMercado()" [disabled]="formulario.invalid">Salvar</button>
</mat-dialog-actions>





