
<div class="container">
  <div class="row">
    <div class="col-12">
    </div>
  </div>

  <mat-card class="example-card">
    <h1>Produtos</h1>
    <mat-card-content>
      <div class="row mb-2">
        <div class="col-6">
          <div class="">
            <button button class="btn btn-sm btn-secondary pull-right" (click)="openDialog()"> Cadastrar Produto</button>
          </div>
        </div>
          <div class="col-6">
            <div class="text-end">
              <app-consulta-produto (onEnviarMercadosResponse)="atualizarMercadosResponse($event)" (onPesquisarTodos)="recuperarProdutos()" (onTextoFiltro)="atualizarTextoFiltro($event)"></app-consulta-produto>
            </div>
          </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card mt-4">
    <mat-card-content>
      <div class="row">
        <div class="col-12 mb-3">
          <h2>Produtos Cadastrados</h2>
        </div>
      </div>

      <div class="row mb-3" *ngIf="exibirTextoFiltro">
        <div class="col-12">
          <label class="label-filtro">Filtro: </label>
          <span class="badge rounded-pill bg-primary spacin-button badge-font" (click)="removerFiltro()">{{nomeProdutoFiltro}} <i class="bi bi-x-circle-fill"></i></span>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-12 card card-produto" *ngFor="let produto of produtos">
          <div class="mb-2 text-truncate">
            <img [src]="produto.LinkImage" alt="" class="image-mercado img-fluid" [matTooltip]="produto.Nome"> <br>
            <label class="mb-1 mt-2" [matTooltip]="produto.Nome">{{produto.Nome}}</label>
          </div>
          <div class="col-12 ">
            <div class="">
              <app-modal-editar-produto [produtoResponse]="produto" (onFecharModal)="recuperarProdutos()"  matTooltip="Editar"></app-modal-editar-produto>
              <button class="btn btn-sm btn-danger spacin-button" (click)="excluirMercado(produto)"  matTooltip="Excluir"><i class="bi bi-trash3-fill"></i></button>
              <button class="btn btn-sm btn-primary spacin-button" (click)="copyText(produto._id)"  matTooltip="Copiar ID"
              aria-label="Button that shows a red tooltip">ID</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="existeProduto">
        <div class="col-12 text-center">
          <h1 for="informacao">"{{nomeProdutoFiltro}}" não encontrado :/</h1>
          <img src="https://7classe.com/assets/media/img/no-course.gif" alt="" class="img-not-search">
        </div>
      </div>
    </mat-card-content>
  </mat-card>



