/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~@ng-select/ng-select/themes/default.theme.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f0f0f0; }


.label-head-modal {
  font-size: 16px;
  font-weight: 500;
}

.modal-body {
  padding-bottom: 0px;
}

.image-mercado {
  width: 60px;
  height: 60px;
}

.spacin-button {
  margin-left: 5px;
}

.badge-font {
  font-weight: normal;
  font-size: 12px;
}

.badge-font:hover {
  cursor: pointer;
}

.label-filtro {
  font-size: 14px;
  font-weight: 500;
}

#input-nome-mercado {
  height: 35px;
  border-radius: 4px;
  padding: 10px;
  border: none;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(7, 163, 90);
  margin-right: 4px;

  color: rgb(119, 119, 119);
}

.btn-buscar {
  height: 31px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  background-color: #6c757d;
  color: white;
  font-size: 13px;
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
  background-color: rgb(7, 163, 90);
  color: white;
}

.ng-autocomplete {
  width:100%;
  max-width: 600px;
  display: table;
  margin: 0 auto;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  line-height: 45px;
  height: 45px;
  padding: 0 16px;
  text-align: left;
  max-width: 100%;
  box-sizing: border-box;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

.imgs-select {
  width: 27px;
  margin-right: 10px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn{
	box-shadow: none !important;
  border: none;
}

.btn-success {
  background-color: rgb(7, 163, 90);
}

.btn-primary {
  background-color: #3699FF;
}

.btn-primary:hover {
  background-color: #2f85db;
}

.btn-primary:focus {
  background-color: #2f85db;
}

.img-not-search {
  width: 400px;
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

mat-card {
  border: none;
}


