<h2 mat-dialog-title>Editar Mercado</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formulario">

    <div class="produto-mercado-form">

      <mat-form-field class="example-full-width mb-2" appearance="legacy">
        <mat-label>Nome</mat-label>
        <input type="text" id="valor" matInput formControlName="Nome">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="legacy">
        <mat-label>URL Imagem</mat-label>
        <textarea matInput formControlName="LinkImage"></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="legacy">
        <mat-label>URL Site</mat-label>
        <textarea matInput formControlName="UrlSite"></textarea>
      </mat-form-field>
    </div>

  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button mat-button (click)="salvarMercado()" [disabled]="formulario.invalid">Editar</button>
</mat-dialog-actions>

